doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./style/style.css")
		title Clock
	body 
		.clock 
			.clock-face 
				.hand.hour-hand
				.hand.min-hand
				.hand.second-hand

		script(src="./script.js") 